@import '../../theme/colors.scss';
@import '../../theme/breakpoints.scss';

.header {
  background: $ts-black-1;
  margin: 20px 20px;
  text-align: center;

  h1 {
    font-family: sans-serif;
    color: $ts-white-1;
    font-size: 24px;

    @media #{$small-and-down} {
      font-size: 20px;
    }
  }
}
