@import '../../theme/colors.scss';
@import '../../theme/breakpoints.scss';

.rune-board {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media #{$small-and-down} {
    flex-direction: row;
  }
}

.path-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 30px;

  @media #{$small-and-down} {
    flex-direction: column;
  }
}

.talent-path {
  display: flex;
  flex: 1;
  color: $ts-white-1;
  font-size: 12px;
}

.rune-path {
  display: flex;
  flex-direction: row;
  flex: 4;
  justify-content: space-between;
  align-items: center;
  margin: 40px;

  @media #{$small-and-down} {
    flex-direction: column;
  }
}