.App {
  display: flex;
  flex-direction: column;
  width: 998px;
  height: 373px;
  margin: auto;
  background-image: url('/talent-calc-bg.png');
  background-repeat: no-repeat;
  text-align: center;

  .board-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}