@import './theme/breakpoints.scss';

.App {
  display: flex;
  flex-direction: column;
  width: 998px;
  height: 373px;
  margin: 0px auto;

  @media #{$medium-and-down} {
    width: 373px;
    max-height: 998px;
  }

  img {
    position: absolute;
    z-index: -1;

    @media #{$medium-and-down} {
      transform: rotate(90deg) translate(0, 313px);
    }
  }

  .board-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media #{$medium-and-down} {
      flex-direction: column;
      min-height: 550px;
    }
  }
}